<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' , {title} ) %>

</head>

<body>
    <header>

        <%- include( '../partials/header' ) %>

    </header>

    <main class="main">

        <section class="seccion-uno-mercado-usuarios">

            <article class="on-page-mercado-usuarios">

                <h4 class="opmu-titulo-primero">Mercado de Usuarios</h4>

                <div class="opmu-acceder-mercado">
                    <a class="opmu-titulo-segundo" href="/mercadousuariosmercaderias">Acceder al mercado</a>
                    <a href="/mercadousuariosmercaderias"><i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="ompu-buscador">
                    <!-- <div class="ompu-categorias-filtro-buscador">

                        <p class="opmu-titulo-primero">Filtro</p>
                        <div class="opmu-categorias-filtro-opciones">
                            <div class="opmu-categoria-filtro-opciones-oro">
                                <label for="mercado-usuarios-oro">Oro</label>
                                <input type="checkbox" name="mercado-usuarios-filtro" id="mercado-usuarios-oro">
                            </div>
                            <div class="opmu-categoria-filtro-opciones-plata">
                                <label for="mercado-usuarios-plata">Plata</label>
                                <input type="checkbox" name="mercado-usuarios-filtro" id="mercado-usuarios-plata">
                            </div>
                            <div class="opmu-categoria-filtro-opciones-bronce">
                                <label for="mercado-usuarios-bonce">Bronce</label>
                                <input type="checkbox" name="mercado-usuarios-filtro" id="mercado-usuarios-bronce">
                            </div>
                        </div>
                    </div> -->

                    <div class="opmu-input-label">
                        <label for="mercado-usuarios">Buscar en el mercado de usuarios</label>
                        <input class="input-search-mercado-usuarios" type="search" name="mercado-usuarios">
                    </div>

                </div>

                <div class="opmu-cateogrias">
                    <a class="opmu-categoria-oro" href="/mercadousuariosoro">
                        <p>Oro</p>
                    </a>
                    <a class="opmu-categoria-plata" href="/mercadousuariosplata">
                        <p>Plata</p>
                    </a>
                    <a class="opmu-categoria-bronce" href="/mercadousuariosbronce">
                        <p>Bronce</p>
                    </a>
                </div>


            </article>

        </section>

        <section class="seccion-dos">

            <article class="buscar-por-categoria-on-page-usuarios">

                <h4 class="opmu-titulares-article">Buscar por categorias</h4>

                <div class="partials-on-article-categorias">

                    <div class="partials-buscar-categorias-iconos">

                        <div>
                            <a href=""><i class="fa-solid fa-laptop"></i></a> 
                            <p>Laptops</p>
                        </div>
                        <div>
                            <a href=""><i class="fa-solid fa-mobile-button"></i></a>
                            <p>Mobile</p>
                        </div>
                        <div>
                            <a href=""><i class="fa-solid fa-shirt"></i></a>
                            <p>Clothes</p>
                        </div>
                        <div>
                            <a href=""><i class="fa-solid fa-glasses"></i></a>
                            <p>Glasses</p>
                        </div>
                        <div>
                            <a href=""><i class="fa-solid fa-hat-cowboy"></i></a>
                            <p>Hats</p>
                        </div>
                        <div>
                            <a href=""><i class="fa-solid fa-socks"></i></a>
                            <p>Socks</p>
                        </div>

                    </div>
                </div>
            </article>

        </section>

        <section class="seccion-tres">

            <article class="on-page-usuarios-ofertas">
                <h4 class="opmu-titulares-article">Ofertas del dia</h4>

                <%mercaderia.forEach( elemento=>{ %>
                    <% if(elemento.id===1){%>
                        <%= elemento.title %>
                            <%= elemento.price %>
                                <img class="opmu-muestra-mercaderia-foto" src="<%=  elemento.img  %>" alt="">
                                <%};%>
                                    <% });%>

            </article>
        </section>

    </main>

    <footer>
        <%- include( '../partials/footer' ) %>
    </footer>
</body>

</html>