<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<head>
    <%- include('../partials/head' , {title});%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="main">
        <section class="seccion-uno-editar-usuario">

            <div>
                <h2>Editar perfil del usuario</h2>
            </div>

            <form action='/editarperfil/<%= user%>/update?_method=put' method="post" class="opuup-register-form">
               
                <div>
                    <div class="opuup-form-single">
                        <label for="name" class="opr-labels">Nombre:</label>
                        <input type="text" name="name" id="name" value="<%= userData.name %>" class="opr-inputs">
                    </div>
                    <div class="opuup-form-single">
                        <label for="surname" class="opr-labels">Apellido:</label>
                        <input type="text" name="surname" id="surname" value="<%= userData.surname %>" class="opr-inputs">
                    </div>
                </div>
                <div>
                    <div class="opuup-form-single">
                        <label for="birthdate" class="opr-labels">Fecha de nacimiento:</label>
                        <input type="date" name="birthdate" id="birthdate" class="opr-inputs">
                    </div>
                    <div class="opuup-form-single">
                        <label for="phonenumber" class="opr-labels">Telefono:</label>
                        <input type="number" name="phonenumber" id="phonenumber" class="opr-inputs">
                    </div>
                    <div class="opuup-form-single">
                        <label for="country" class="opr-labels">Pais:</label>
                        <input type="text" name="country" id="country" class="opr-inputs">
                    </div>
                    <div class="opuup-form-single">
                        <label for="state" class="opr-labels">Provincia:</label>
                        <input type="text" name="state" id="state" class="opr-inputs">
                    </div>
                    <div class="opuup-form-single">
                        <label for="address" class="opr-labels">Direccion:</label>
                        <input type="text" name="address" id="address" class="opr-inputs">
                    </div>
                </div>
    
                <div class="opr-button">
                    <button type="submit" class="opuup-button-single">Enviar</button>
                </div>
            </form>
            <form action="/editarperfil/<%= user %>/delete?_method=delete" method="post">
                <div>
                    <input type="submit" value="Eliminar cuenta del usuario">
                </div>
            </form>
        </section>

    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>